$bg-color-1: #ED1C24;
$bg-color-2: #EEEEEE;
$bg-color-3: #111111;
$bg-color-4: rgba(255, 255, 255, .3);
$bg-color-5: #DBDBDB;
$bg-color-6: #898989;
$bg-color-7: #FFFFFF;
$color-1: #FFFFFF;
$color-2: #F2656A;
$color-3: #707070;
$color-4: #222222;
