.row-3 {
    display: flex;
    justify-content: center;
    background-color: #DBDBDB;
    overflow: hidden;

    .container {
        display: flex;
        width: 1200px;

        .poster {
            width: 350px;
            height: 524px;
            background-color: #898989;
            flex-shrink: 0;
        }

        .overview {
            position: relative;
            z-index: 0;
            width: 100%;

            &::before {
                content: "";
                background-color: white;
                width: 500%;
                height: 100%;
                position: absolute;
                z-index: -1;
            }

        }

    }
}