.header {
    width: 100%;
    height: 423px;
    background: #EEEEEE;

    .exebition{
        margin: auto;
        width: 350px;
        height: 423px;
        background-color: #ED1C24;

        .images{
            margin-left: 34px;
            width: 281px;

            .logo{
                margin-top: 27px;
                margin-left: -32px;
            }
            .category{
                margin-top: 14px;
            }
            
            .title{
                margin-top: -14px;
            }
        }
    }
}