
.header {

    .row-1 {

        .container {
            display: flex;
            justify-content: center;

            .block {
                width: 271px;
                margin-left: 72px;

                h3 {
                    font-size: 13px;
                    letter-spacing: .9px;

                    &::before {
                        width: 6px;
                        height: 10px;
                        margin-top: -5px;
                        margin-right: 6px;
                        margin-left: -1px;
                        font-size: 23px;
                    }
                }

                h5 {

                    &::after {
                        width: 97%;
                    }
                }
            }

            a {
                transform: translate(-100%, 20px);
            }

            .icon {
                border-top: 1px solid $color-2;
                border-bottom: 1px solid $color-2;
            }
        }
    }

    .row-2 {

        .container {

            &::before {
                z-index: 1;
                left: 0;
            }

            div {
                display: none;
            }
        }
    }
}
